<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>


    <nav>
        <ul>
            <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                <a href="{% url 'home' %}">About</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}">
                <a href="{% url 'portfolio' %}">Portfolio</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'blog_list' %}active{% endif %}">
                <a href="{% url 'blog_list' %}">Blog</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">
                <a href="{% url 'contacts' %}">Contacts</a>
            </li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 By Ivan Koev</p>
    </footer>

</body>
</html>
