{% extends "base.html" %}
{% load static %}

{% block title %}Welcome to My Corner of the Web{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">


<div class="hero">

</div>


<div class="about-section">
    <img src="{% static 'images/passport.jpg' %}" alt="Ivan Koev" class="about-img">
    <div class="about-text">
        <h2>About</h2>
        <p>
            Hello and thanks for visiting! This website is my digital space
            to share my thoughts, projects, and passions.
        </p>
        <p>
            I’m a full-stack web developer with a strong background in Data and AI. I build scalable, high-performance websites and develop intelligent systems to solve complex problems and automate workflows.
        </p>
        <p>
            Beyond coding, I’m deeply involved in investing, particularly in stocks and long-term financial strategies. With a degree in Political Science, I enjoy discussing a wide range of topics, and this platform is a space for those conversations too.

        </p>
        <p>
I believe in a balanced life—staying active, training regularly, and sharing my knowledge and methods with a wider audience.        </p>
    </div>
</div>
{% endblock %}
