{% extends "base.html" %}

{% block title %}{{ item.title }} - My Portfolio{% endblock %}

{% block content %}
    <h1>{{ item.title }}</h1>
    <img class="portfolio-image" src="{{ item.image.url }}" alt="{{ item.title }}">

    <p>{{ item.description }}</p>
    {% if category == "programming" %}
        {% if item.repo_link %}
            <p><a href="{{ item.repo_link }}" target="_blank">Repo Link</a></p>
        {% endif %}

{% if item.demo_link %}
    <iframe width="560" height="315" src="{{ item.demo_link }}" frameborder="0" allowfullscreen></iframe>
{% endif %}

        {% if item.snippets.all %}
            <h2>Code Snippets</h2>
            {% for snippet in item.snippets.all %}
                <h3> Technology: {{ snippet.language }}</h3>
                <h3>Description: {{ snippet.description }}</h3>
                <pre>{{ snippet.code }}</pre>
            {% endfor %}
        {% endif %}
    {% elif category == "stocks" %}
<form method="get" action="{% url 'portfolio_item_detail' category item.id %}" style="display: flex; align-items: center; gap: 10px; flex-wrap: wrap;">
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}">

    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">

    <button type="submit">Calculate Dividends</button>
</form>
<div style="display: flex; flex-wrap: wrap; gap: 20px; margin-top:10px">
    {% for stock_name, data in dividend_data.items %}
        <div style="flex: 1 1 calc(50% - 10px); border: 1px solid #ccc; padding: 10px; box-sizing: border-box;">
            <p>
                <strong>{{ stock_name }}</strong><br>
                Current Shares Count: {{ data.current_shares_count }}<br>
                Dividends earned for selected period: {{ data.dividends }} $<br>
                Current Price: {{ data.current_price|floatformat:2 }} $<br>
                Net Capital Gain +/-:
                <span style="color: {% if data.net_change >= 0 %}green{% else %}red{% endif %};">
                    {{ data.net_change|floatformat:2 }} $
                </span><br>
                <a href="{{ data.yahoo_link }}" target="_blank">Yahoo Finance Link</a><br>
            </p>
        </div>
    {% endfor %}
</div>

    {% elif category in "workouts history politics" %}
        {% if item.video_url %}
            <iframe width="560" height="315" src="{{ item.video_url }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
        {{ item.text_content|linebreaks }}
    {% endif %}

    <p><a href="{% url 'portfolio_category' category=category %}">Back to Portfolio</a></p>
{% endblock %}
